@import "../ScssMixin/mixin.scss";

.display_flex{
   @include flex;
   justify-content: center;
   align-content: center;
   
   .Natural{
       @include logo_two
   }

   .fresh{
       font-size:40px;
       font-weight:bold;
       line-height:40px;
    }   
   .p_tag{
       font-weight:bold;
       line-height: 25px;
    }
   .margin_top{
       margin-top:50px;
    }

}