@import "../ScssMixin/mixin.scss";

$ColourWhite:rgb(255, 255, 255);


#main-head{
    background-image:url("../Images/1.png");
    height:600px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    box-sizing: border-box;

    .main_nav{
        @include flex;
        justify-content: space-between;
        align-content: center;
    }

    .Buger{
        font-weight: bold;
        font-size:30px;
        padding:15px;
        color:$ColourWhite;
    }

    .nav{
        color:$ColourWhite;
        @include flex;
        margin-left:30px;
    
        
        
        .Home,.services,.about,.log_out{
            margin-right:30px;
            @include flex;
            justify-content: center !important;
            align-content: center !important;
            margin-top:20px;
            padding:5px;
            @include trans05s;
            cursor: pointer;
            border:1px solid $ColourWhite;
            border-radius:5px;
            font-weight: bolder;
            &:hover{
                @include h_p;
            }
        }
    }  
    .social_one{
        @include flex;
        margin-top:20px;
        margin-right:20px;
    }  
    .twitter_one,.facebook_one,.instagram_one{
        border-radius:15px;
        border:1px solid $ColourWhite;
        margin-right:10px;
        padding:10px;
        @include trans05s;
        cursor: pointer;
    }
    .twitter_one,.facebook_one,.instagram_one{
        &:hover{
            @include h_p;
        }
    }
    .best_offer{
        @include logo;
    }
    .superburger{
        color:white;
        font-weight: bolder;
        font-size:60px;
        margin-left:100px;
        margin-top:30px;
    }
    .Deal{
        color:white;
        font-weight: bolder;
        font-size:60px;
        margin-left:100px;
    }
    .red_circle{
        @include flex;
        justify-content: flex-end ;
        position: absolute;
        top:-400px;
        right:300px;
    }
    .red_circle_content{
        background-color:red;
        border-radius:30% ;
        padding:15px;
        font-size:20px;
        font-weight: bolder;
        color:yellow;
        width:60px;
        height:60px;
        animation: drop 1s 1s ease forwards,
                   swign 2s 2s ease forwards;
        transform-origin:10px 10px;
    }
    @keyframes drop {
        0%{opacity: 0;}
        70%{transform:translateY(700px);}
        100%{transform: translateY(650px); opacity:1;}
    }
    @keyframes swign{
       0%{transform: translateY(650px) rotateZ(0deg)}
       40%{transform: translateY(650px) rotateZ(90deg)}
       70%{transform: translateY(650px) rotateZ(70deg)}
       100%{transform: translateY(650px) rotateZ(75deg)}
    }
}