@import "../ScssMixin/mixin.scss";


.Menu{
    position: relative;
    padding-top:100px;
    font-weight: bolder;
    text-align: center;
}
.Menu_two{
    @include logo_three
}
.buger_collection{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    justify-content: center;
    text-align: center;
    margin:30px;
    flex:1;
    box-sizing: border-box;
    
    div{
        margin:10px;
    }
    
    .price{ 
        color:red;
        font-weight: bold;
    }

}